.price.before {
  text-decoration: line-through;
  color: #666;
}

span.now {
  color: red;
}

.discount {
  font-size: 24px;
}

.store-only {
  background-color: red;
  padding: 2px;
  color: white;
}

.sale {
  background-color: red;
  color: white;
  padding: 3px 5px;
  border-radius: 2px;
  font-weight: 600;
  margin: 2px 0;
}

.save {
  color: red;
  float: left;
}
