<% if product.store_only %>
  <% if product.on_sale? %>
    <span class="sale"><%= display_discount_percent(product) %></span></br>
    <% end %>
  <br />
  <span><%= link_to "This is only available in our outlets", '/locations' %></span>
<% else %>
  <% if product.on_sale? %>
    <span class="price before"><%= display_original_price(product) %></span>
    <span class="sale"><%= display_discount_percent(product) %></span></br>
    <span class="price selling" itemprop="price"><%= product_price(product) %></span>
  <% else %>
    <span class="price selling" itemprop="price"><%= product_price(product) %></span>
  <% end %>
<% end %>
